/* 
   Revisions Bookstore and Cafe stylesheet 
   Filename: stylesheetz.css

   Author: Chaw Li Xiang  
   Date: 27/04/2018    
   HTML5 and CSS3 Illustrated Unit D, Visual Workshop
 */

/*reset*/
body, aside,h1, h2, p
{
    border:0;
    padding:0;
    margin:0;
}


/*background color*/
body 
{
    background-color:floralwhite;
}

/*box*/
.Box
{
    max-width: 650px;
    margin: 0 auto;
    border-bottom: 2px solid navy;
    border-top: 2px solid navy;
    border-right: 2.5px solid navy;
    border-left: 2px solid navy;
}

/*heading*/
header
{
    text-align: center;
    color: navy;
    background-color: lightblue;
}

/*revisions...cafe*/
h1
{
    padding: 0.3em;
}

/*Upcoming Events*/
h2
{
    padding: 0 0.6em;
    padding-bottom: 0.4em;
}

/*events*/
article 
{
    background-color: white;
    float: right;
    width:65%;
    padding: 1em 0;
}

/*article texts*/
article p
{
    padding: 0 2em 0.75em;
}

/*leftbox*/
aside 
{
    width:35%;
    padding: 0.4em 0;
    padding-bottom:  3.3em;
    background-color: burlywood;
}

/*leftbox texts*/
aside p
{
    
    padding: 0.9em 0.35em; 
    margin: 0 1em ;
}

/*footer/contacts*/
footer 
{
    padding: 0.2em;
    text-align: right;
    color: navy;
    background-color: lightblue;
    clear: right;
    
}
/*footer texts*/
footer p
{
    margin: 0.6% 0.7% ;
}




